@{
    ViewBag.Title = "Panel";
}

@{
    int cookieDepartment = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-department-selected") != null ?
        int.Parse(ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-department-selected")) : 0;
    int cookieRegistryCount = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-registry-count") != null ?
        int.Parse(ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-registry-count")) : 0;
    int cookieMinutesRefresh = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-minutes-refresh") != null ?
        int.Parse(ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-minutes-refresh")) : 0;

    List<ControlAccesoChecadorKioskoASP.Models.AccessRegistry> registries = Html.ViewData["AccessRegistries"] as List<ControlAccesoChecadorKioskoASP.Models.AccessRegistry>;
}

<script>
    var selectedEmploye = null;
    var selectedRegistry = null;
    var employesList = @Html.Raw(Json.Encode(ViewData["Employes"]));
    var accessRegistries = @Html.Raw(Json.Encode(ViewData["AccessRegistries"]));
    var department = @Html.Raw(Json.Encode(ViewData["Department"]));
    var validEmploye = false;

    function clockStart() {
        var today = new Date();
        var d = checkTime(today.getDate()) + " " + checkMonth(today.getMonth());
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML =
            d + " [" + h + ":" + m + ":" + s + "]";
        setTimeout(clockStart, 1000);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
    function checkMonth(i) {
        switch (i) {
            case 0:
                return "ENE";
            case 1:
                return "FEB";
            case 2:
                return "MAR";
            case 3:
                return "ABR";
            case 4:
                return "MAY";
            case 5:
                return "JUN";
            case 6:
                return "JUL";
            case 7:
                return "AGO";
            case 8:
                return "SEP";
            case 9:
                return "OCT";
            case 10:
                return "NOV";
            case 11:
                return "DIC";
            default:
        }
    }

    function updateLayout() {
        if (department.Name != null || department.Name != "") {
            document.getElementById("departmentname").innerHTML = department.Name;
        }
    }
    function showErrorMessage(time, message) {
        document.getElementById("error-alert-snack").style.display = "block";
        document.getElementById("error-alert-snack").innerHTML = message;
        if (time == null) {
            document.getElementById("error-alert-snack").style.display = "none";
            document.getElementById("error-alert-snack").innerHTML = message;
        } else {
            setTimeout(() => {
                document.getElementById("error-alert-snack").style.display = "none";
                document.getElementById("error-alert-snack").innerHTML = message;
            }, time * 1000);
        }
    }
</script>

<div class="row" style="margin-top: 32px">
    <div class="col-md-8 col-md-offset-2 alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Debes completar correctamente el formulario
    </div>
    <div class="col-md-8 col-md-offset-2 alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        Los cambios se han guardado correctamente
    </div>

    <!--FORMULARIO DE REGISTRO ACCESO-->
    <div class="col-sm-4" style="padding: 32px 32px 32px 32px; margin-top: 16px; background-color:#eeeeee; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.40);">
        <h3 style="margin-top:0px; margin-bottom:20px;"><span class="glyphicon glyphicon-book"></span> Checador</h3>
        
        <script type="text/javascript">
            function validateIDEmploye() {
                var input = document.forms["form-ingress"]["idEmploye"]

                if (Number(input.value) < 0) {
                    input.value = 0;
                }
                if (input.value.length == 6) {
                    selectedEmploye = employesList.find(x => x.EmployeId === Number(input.value));

                    if (selectedEmploye != null) {
                        document.getElementById("employeName").innerHTML = selectedEmploye.Name;
                        validEmploye = true;
                    }

                } else {
                    selectedEmploye = null;
                    validEmploye = false;
                    document.getElementById("employeName").innerHTML = "";
                }
            }

            function validateForm() {
                var input = document.forms["form-ingress"]["idEmploye"]
                if (input.value > 0 && validEmploye) {
                    // alert("EmployeID= " + selectedEmploye.EmployeId + " Employe Name= " + selectedEmploye.Name);
                    return true;
                } else {
                    showErrorMessage(8, "Debes de ingresar una ficha de trabajador valido");
                    return false;
                }
            }

            function clearForm() {
                selectedEmploye = null;
                validEmploye = false;
                document.forms["form-ingress"]["idEmploye"].value = "";
                document.getElementById("employeName").innerHTML = "";
            }
        </script>

        @using (Html.BeginForm("SubmitIngress", "Home", FormMethod.Post, new { onsubmit = "return validateForm()", id = "form-ingress" }))
        {
            <h4 style="margin-bottom:8px;"><b>Ficha:</b> </h4>
            @Html.TextBox("idEmploye", null, new
            {
                 @class = "form-control",
                 placeholder = "Ingresa tu ficha Ej. (582509)",
                 type = "number",
                 oninput = "validateIDEmploye()",
                 style = "font-size: 12pt;"
            })
            <h4 style="margin-bottom:8px; margin-top:16px;"><b>Trabajador:</b></h4>
            <h5 id="employeName" style="margin-bottom:8px;"></h5>

            <div class="row" style="text-align:right; margin-top: 32px; padding-right: 16px;">
                <a class="btn btn-danger" onclick="clearForm()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Registrar Entrada
                </button>
            </div>
        }


    </div>

    <!--BACKLOG REGISTRY-->
    <div class="row col-sm-7 col-sm-offset-1" style="margin-top: 16px;">
        <div style="background-color:#eeeeee; padding: 32px; display:grid">
            <div>
                <h3 class="col-md-6" id="departmentname" style="margin-top:10px;">Departamento sin seleccionar</h3>
                <h2 class="col-md-6" id="clock" style="margin-top:10px;">23 Jun 12:59:00</h2>
                <script type="text/javascript">
                    updateLayout();
                    clockStart();
                </script>
            </div>
        </div>

        <br />

        <div style="background-color:#eeeeee; padding: 32px">
            @using (Html.BeginForm("SubmitEgress", "Home", FormMethod.Post, new { id="form-egress", style="display: none;" }))
            {
                @Html.TextBox("idAccessRegistry", null, new 
                { 
                    @class = "form-control", 
                    type = "number"
                })
            }
            <div class="row">
                <div class="col-md-6">
                    <h4><b>Trabajador: </b></h4>
                    <h5 id="selectedRegistryEmployName">...</h5>
                </div>
                <div class="col-md-6">
                    <h4><b>Hora de entrada: </b></h4>
                    <h5 id="selectedRegistryIngress">--:--</h5>
                </div>
            </div>
            <div class="row">
                <h5 class="col-md-8" style="margin-top:18px;">*Para anotar tu salida selecciona tu registro, y pulsa el boton</h5>
                <div class="col-md-4" style="text-align:right; display:contents;">
                    <p style="margin-top:8px; margin-right:16px;"><a class="btn btn-success" onclick="requestEgress()"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>  Registrar salida</a></pstyle="margin-top:8px;>
                </div>

                <script type="text/javascript">
                    function requestEgress() {
                        var submitEgressForm = document.forms["form-egress"];
                        if (selectedRegistry != null && submitEgressForm["idAccessRegistry"].value != null) {
                            if (selectedRegistry.EgressTicks == 0) {
                                submitEgressForm.submit();
                            } else {
                                showErrorMessage(8, "Este trabajador ya registro su salida");
                            }
                        } else {
                            showErrorMessage(8, "Debes seleccionar un elemento de la lista");
                        }
                    }
                </script>
            </div>
        </div>

        <div>
            <script type="text/javascript">
                function selectRegistryElement(index) {
                    var selectedRegistryEmployeName = document.getElementById("selectedRegistryEmployName");
                    var selectedRegistryIngress = document.getElementById("selectedRegistryIngress")
                    var cellingresstime = document.getElementById("row-ingresstime-" + index);
                    var celldate = document.getElementById("row-date-" + index);
                    var submitEgressForm = document.forms["form-egress"];

                    selectedRegistryEmployeName.innerHTML = accessRegistries[index].Employe.Name;
                    selectedRegistryIngress.innerHTML = celldate.innerHTML + " @@ " + cellingresstime.innerHTML;

                    selectedRegistry = accessRegistries[index];
                    submitEgressForm["idAccessRegistry"].value = selectedRegistry.AccessRegistryId;
                }
            </script>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Ficha</th>
                        <th scope="col">Trabajador</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Salida</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer">
                    @{if (registries != null && registries.Count > 0)
                        {
                            for (int i = 0; i < registries.Count; i++)
                            {
                                string ingressTimeString = new DateTime(registries[i].IngressTicks).ToShortTimeString();
                                string egressTimeString = "--:--";
                                //string diferenceHours = "--";
                                //string diferenceMinutes = "--";

                                if (registries[i].EgressTicks != 0)
                                {
                                    //int hh = new DateTime(registries[i].EgressTicks).Subtract(new DateTime(registries[i].IngressTicks)).Hours
                                    //    + (new DateTime(registries[i].EgressTicks).Subtract(new DateTime(registries[i].IngressTicks)).Days * 24);
                                    //int mm = new DateTime(registries[i].EgressTicks).Subtract(new DateTime(registries[i].IngressTicks)).Minutes;
                                    egressTimeString = new DateTime(registries[i].EgressTicks).ToShortTimeString();
                                    //diferenceHours = hh < 10 ? $"0{hh}" : $"{hh}";
                                    //diferenceMinutes = mm < 10 ? $"0{mm}" : $"{mm}";
                                }
                                <tr onclick="selectRegistryElement(@i)">
                                    <th scope="row">@registries[i].Employe.EmployeId</th>
                                    <td>@registries[i].Employe.Name</td>
                                    <td id="row-date-@i">@registries[i].Date.ToShortDateString()</td>
                                    <td id="row-ingresstime-@i">@ingressTimeString</td>
                                    <td id="row-egresstime-@i">@egressTimeString</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>