
@{
    ViewBag.Title = "Configuraciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    int cookieDepartment = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-department-selected") != null ?
        int.Parse(ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-department-selected")) : 0;
    int cookieRegistryCount = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-registry-count") != null ?
        int.Parse(ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-registry-count")) : 20;
    int cookieMinutesRefresh = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-minutes-refresh") != null ?
        int.Parse(ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "client-minutes-refresh")) : 5;
}

<div class="row" style="margin-top: 16px">
    <h1 class="col-md-offset-3">Configuraciones</h1>

    <div class="col-md-8 col-md-offset-2 alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Debes completar correctamente el formulario
    </div>
    <div class="col-md-8 col-md-offset-2 alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        Los cambios se han guardado correctamente
    </div>
    <!--FORMULARIO DE CONFIGURACIONES-->
    <div class="col-md-6 col-md-offset-3" style="padding: 32px; background-color:#eeeeee; margin-top: 16px; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.40);">
        <div class="row">
            <script type="text/javascript">
                function moreRegisters() {
                    var input = document.forms["form"]["reg-count"];
                    input.value = Number(input.value) + 1;
                }
                function lessRegisters() {
                    var input = document.forms["form"]["reg-count"];
                    if (Number(input.value) > 0) {
                        input.value = Number(input.value) - 1;
                    }
                }

                function moreMinutes() {
                    var input = document.forms["form"]["update-time"];
                    input.value = Number(input.value) + 1;
                }
                function lessMinutes() {
                    var input = document.forms["form"]["update-time"];
                    if (Number(input.value) > 0) {
                        input.value = Number(input.value) - 1;
                    }
                }

                function isFormValid() {
                    var select = document.forms["form"]["departmentSelect"];
                    var regCount = document.forms["form"]["reg-count"];
                    var minCount = document.forms["form"]["update-time"];


                    return Number(select.value) > -1 && Number(regCount.value) > 0 && Number(minCount.value) > 0;
                }

                function setCookie(cookieName, cookieValue, exyears) {
                    var d = new Date();
                    d.setTime(d.getTime() + ((exyears * 365) * 24 * 60 * 60 * 1000));
                    var expires = "expires=" + d.toUTCString();
                    document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
                }

                function saveToConfig() {
                    document.getElementById("success-alert-snack").style.display = "none";
                    document.getElementById("error-alert-snack").style.display = "none";
                    var select = document.forms["form"]["departmentSelect"];
                    var regCount = document.forms["form"]["reg-count"];
                    var minCount = document.forms["form"]["update-time"];

                    if (isFormValid()) {
                        document.getElementById("success-alert-snack").style.display = "block";
                        setCookie("client-department-selected", Number(select.value), 5);
                        setCookie("client-registry-count", Number(regCount.value), 5);
                        setCookie("client-minutes-refresh", Number(minCount.value), 5);

                        setTimeout(() => { document.getElementById("success-alert-snack").style.display = "none"; }, 5000);
                    } else {
                        document.getElementById("error-alert-snack").style.display = "block";
                        setTimeout(() => { document.getElementById("error-alert-snack").style.display = "none"; }, 5000);
                    }
                }
            </script>

            <form class="form-horizontal" id="form">
                <div class="form-group">
                    <label class="col-md-4 control-label">Departamento</label>
                    <div class="input-group col-md-5">
                        @{
                            List<ControlAccesoChecadorKioskoASP.Models.Department> departments = ViewData["Departments"] as List<ControlAccesoChecadorKioskoASP.Models.Department>;

                            int departmentSelectIndex = 0;
                            if (cookieDepartment != 0)
                            {
                                for (departmentSelectIndex = 0; departmentSelectIndex < departments.Count; departmentSelectIndex++)
                                {
                                    if (departments[departmentSelectIndex].DepartmentId == cookieDepartment)
                                    {
                                        departmentSelectIndex += 1;
                                        break;
                                    }
                                }
                            }
                        }
                        <select class="form-control" id="departmentSelect">

                            @{
                                <option value="-1">Selecciona el departamento...</option>

                                for (int i = 0; i < departments.Count; i++)
                                {
                                    <option value="@departments[i].DepartmentId">@departments[i].DepartmentId  @departments[i].Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Registros por mostrar</label>
                    <div class="input-group col-md-5">
                        <input type="text" class="form-control" id="reg-count" value="20" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger" onclick="lessRegisters()">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="moreRegisters()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Minutos para refrescar</label>
                    <div class="input-group col-md-5">
                        <input type="text" class="form-control" id="update-time" value="3" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger" onclick="lessMinutes()">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="moreMinutes()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>


            <script type="text/javascript">
                            function fillWithCookies() {
                                document.getElementById("departmentSelect").selectedIndex = @departmentSelectIndex;
                                document.getElementById("reg-count").value = "@cookieRegistryCount";
                                document.getElementById("update-time").value= "@cookieMinutesRefresh";
                            }

                            fillWithCookies();
            </script>
        </div>

        <div class="row" style="margin-top: 32px; padding-right: 16px; text-align:right">
            <a class="btn btn-success" onclick="saveToConfig()">
                <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>  Guardar
            </a>
        </div>
    </div>
</div>
