
@{
    ViewBag.Title = "ReportAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportes de acceso</h2>

<script type="text/javascript">
    var departments = @Html.Raw(Json.Encode(ViewData["Departments"]));
    var employes = @Html.Raw(Json.Encode(ViewData["Employes"]));
</script>

<div class="row" style="margin-top: 32px">
    <!--SNACK DE ALERTAS-->
    <div class="col-md-8 col-md-offset-2 alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Debes completar correctamente el formulario
    </div>
    <div class="col-md-8 col-md-offset-2 alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        Los cambios se han guardado correctamente
    </div>

    <!--FORMULARIOS-->
    <div class="col-md-7">
        <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
            <div class="panel-heading" style="padding:16px;">
                <h3 style="margin-top:0px; margin-bottom:0px;"><span class="glyphicon glyphicon-book"></span> Busqueda de datos</h3>
            </div>
            <div class="panel-body">
                <script type="text/javascript">
                    function openForm(option) {
                        document.getElementById("form-1").style.display = "None";
                        document.getElementById("form-2").style.display = "None";
                        document.getElementById("form-3").style.display = "None";
                        switch (option) {
                            case 1:
                                document.getElementById("form-1").style.display = "Block";
                                break;

                            case 2:
                                document.getElementById("form-2").style.display = "Block";
                                break;

                            case 3:
                                document.getElementById("form-3").style.display = "Block";
                                break;

                            default:
                        }
                    }
                </script>

                <div class="row">
                    <div class="col-md-4">
                        <input type="radio" id="rad-department" name="search" onclick="openForm(1)">
                        <label for="male">Por departamento</label>
                    </div>
                    <div class="col-md-4">
                        <input type="radio" id="rad-employe" name="search" onclick="openForm(2)">
                        <label for="male">Por trabajador</label>
                    </div>
                    <div class="col-md-4">
                        <input type="radio" id="rad-all" name="search" onclick="openForm(3)">
                        <label for="male">Busqueda completa</label>
                    </div>
                </div>

                <div class="row col-md-12">
                    @{using (Html.BeginForm("ReportAccess", "Administration", FormMethod.Post, new { @class = "form-inline", id = "form-1", style = "display: None;" }))
                        {
                            <div class="form-group" style="margin-top: 16px;">
                                <label>Departamento</label>
                                <select class="form-control" name="department">
                                    <option value="-1">Selecciona el departamento...</option>
                                    @{
                                        List<ControlAccesoChecadorKioskoASP.Models.Department> departments = ViewData["Departments"] as List<ControlAccesoChecadorKioskoASP.Models.Department>;
                                        for (int i = 0; i < departments.Count; i++)
                                        {
                                            <option value="@departments[i].DepartmentId">@departments[i].DepartmentId  @departments[i].Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="margin-top: 16px;">
                                <label>Iniciar desde</label>
                                <input type="date" name="datestart" />
                                <label>Terminar hasta</label>
                                <input type="date" name="dateend" />
                            </div>

                            <div class="form-group" style="margin-top: 16px;">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
                            </div>
                                        }
                    }

                    @{using (Html.BeginForm("ReportAccess", "Administration", FormMethod.Post, new { @class = "form-inline", id = "form-2", style = "display: None;" }))
                        {
                            <div class="form-group" style="margin-top: 16px;">
                                <label>Trabajador</label>
                                <input class="form-control" type="number" name="employeId" placeholder="Ingresa la ficha Ej. (582509)" />
                                <label>Nombre:</label>
                                <label>...</label>
                            </div>

                            <div class="form-group" style="margin-top: 16px;">
                                <label>Iniciar desde</label>
                                <input type="date" name="datestart" />
                                <label>Terminar hasta</label>
                                <input type="date" name="dateend" />
                            </div>

                            <div class="form-group" style="margin-top: 16px;">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
                            </div>
                        }
                    }

                    @{using (Html.BeginForm("ReportAccess", "Administration", FormMethod.Post, new { @class = "form-inline", id = "form-3", style = "display: None;" }))
                        {
                            <div class="form-group" style="margin-top: 16px;">
                                <label>Iniciar desde</label>
                                <input type="date" name="datestart" />
                                <label>Terminar hasta</label>
                                <input type="date" name="dateend" />
                            </div>

                            <div class="form-group" style="margin-top: 16px;">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>


    <!--SIDE PANEL-->
    <div class="col-md-3 col-md-offset-1" style="padding: 32px 32px 32px 32px; margin-top: 16px; background-color:#eeeeee; display:none;">
        <h3 style="margin-top:0px; margin-bottom:20px;"><span class="glyphicon glyphicon-book"></span> Checador</h3>

    </div>

    <!--BACKLOG REGISTRY-->
    <div class="col-md-12">
        <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
            <div class="panel-heading" style="padding:16px;">
                <h3 class="col-md-6" style="margin-top:0px; margin-bottom:0px; padding-left:0px;"><span class="glyphicon glyphicon-list"></span> Resultados</h3>
                <div style="text-align:right;">
                    <div class="btn-group" hidden>

                        <script type="text/javascript">
                            function downloadMatrixToCSV(option) {
                                // 1: CompleteMatrix | 2: JustFinalData

                                var form = document.forms["exportform"]
                                form.method = "POST";

                                switch (option) {
                                    case 1:
                                        form.action = "@Url.Action("ExportCompleteMatrixToCSV", "Administration")";
                                        form.submit();
                                        break;

                                    case 2:
                                        break;

                                    default:
                                }
                            }

                        </script>

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "exportform" }))
                        {
                            <input type="text" name="data" style="display:none;" readonly value="@Html.Raw(ViewData["AccessRegistriesJSON"])"/>

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-floppy-save"></span> Guardar como... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> Hojas de datos (*.csv)</li>
                                <li><a href="#" onclick="downloadMatrixToCSV(2)"> Datos interpretados</a></li>
                                <li><a href="#" onclick="downloadMatrixToCSV(1)"> Datos interpretados + metadatos</a></li>
                            </ul>
                        }
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Departamento</th>
                        <th scope="col">Ficha</th>
                        <th scope="col">Trabajador</th>
                        <th scope="col">Fecha de entrada</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Fecha de salida</th>
                        <th scope="col">Salida</th>
                        <th scope="col">Horas</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewData["AccessRegistries"] != null)
                        {
                            List<ControlAccesoChecadorKioskoASP.Models.AccessRegistry> accessRegistries = ViewData["AccessRegistries"] as List<ControlAccesoChecadorKioskoASP.Models.AccessRegistry>;

                            foreach (var item in accessRegistries)
                            {
                                DateTime IngressDateTime = new DateTime(item.IngressTicks);
                                DateTime EgressDateTime;


                                <tr>
                                    <th scope="row">@item.Department.Name</th>
                                    <td>@item.Employe.EmployeId</td>
                                    <td>@item.Employe.Name</td>
                                    <td>@IngressDateTime.ToShortDateString()</td>
                                    <td>@IngressDateTime.ToShortTimeString()</td>
                                    @if (item.EgressTicks != 0)
                                    {
                                        EgressDateTime = new DateTime(item.EgressTicks);

                                        int hh = new DateTime(item.EgressTicks).Subtract(new DateTime(item.IngressTicks)).Hours
                                            + (new DateTime(item.EgressTicks).Subtract(new DateTime(item.IngressTicks)).Days * 24);
                                        int mm = new DateTime(item.EgressTicks).Subtract(new DateTime(item.IngressTicks)).Minutes;
                                        string diferenceHours = "--";
                                        string diferenceMinutes = "--";
                                        diferenceHours = hh > 10 ? $"{hh}" : $"0{hh}";
                                        diferenceMinutes = mm > 10 ? $"{mm}" : $"0{mm}";

                                        <td>@EgressDateTime.ToShortDateString()</td>
                                        <td>@EgressDateTime.ToShortTimeString()</td>
                                        <td>@diferenceHours:@diferenceMinutes</td>
                                    }
                                    else
                                    {
                                        <td>...</td>
                                        <td>--:--</td>
                                        <td>--:--</td>
                                    }

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>